#nav-heading{
    text-align:left;
    font-style: normal;
    background-color: lightslategrey;
    font-family:Verdana;
}
#heading{
    text-align:center;
    background-color: white;
    color:solid black;
}
#content{
    padding:4%;
    border:2% solid black;
    text-align: left
    background-color:grey;
    color:whitw;
}